.list_item {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.character_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img_wrapper {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-left: 0.5rem;
}

.tv_icon {
  height: 24px;
}

.star_icon {
  height: 24px;
  cursor: pointer;
}

.name_field {
  display: flex;
  padding: 0 2rem;
  width: 6rem;
  align-items: center;
  justify-content: flex-start;
}

.name {
  width: 5rem;
}

.list_element_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
}

.star_btn {
  border: none;
  background-color: transparent;
}
