.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr auto auto;
  grid-template-areas:
    'navbar'
    'most_popular'
    'page_content'
    'footer';
}

.navbar {
  grid-area: navbar;
  background-color: #f2f2f2;
}

.most_popular {
  grid-area: most_popular;
}

.page_content {
  grid-area: page_content;
}

.footer {
  grid-area: footer;
}
